.okr{
    color:white;
}
.section_wrap{
    display:flex;
    margin:40px;
}
.title{
    color:black;
    font-size:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px;
}
.content{
    padding:8px;
}
.objective{
    margin:36px auto;
    width:200px;
    text-align:center;
}
.key_result{
    text-align:center;
    margin:0 auto;
}
/* .company{
    background-color: red;
} */
.group{
    background-color: orange;
}
.individual{
    background-color: blue;
}
.other_than_border_right{
    height:150px;
    width:150px;
    border:solid silver;
    border-width:3px 0 3px 3px;
    margin:40px;
}
.wrap_objective{
    width:300px;
}

.top_objective{
    width:100%;
}
.flex{
    width:100%;
    display: flex;
    justify-content: space-between;
}


header{
    background-color: #eee;
    height:60px;
    display:block;
    border-bottom:solid 5px orange !important;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.dropdown-menu{
    font-size:20px;
    float:right;
    line-height:60px;

}
.dropdown-menu a{
    margin:0 16px;

}
.okr_index{
    float:left;
    font-size:20px;
    line-height:60px;
}
.okr_index a{
    margin:0 16px;

}


.company li{
    background-color: red;
    margin:12px;
}






.add_wrap{
    display: flex;
    margin:0 40px;
}
.okr_document{


}
.okr_document p{
    margin:12px;
}

.index_okr{
    font-size:24px;
    margin:20px;
}
.index_okr h2{
    margin:12px 0;
}
.index_okr p{
    font-size:20px;
    margin-bottom:20px;
}
.index_okr h3{
    font-size:16px;
    display: inline;
    border:5px solid #eee;
}



