/* show.blade.php */
.okr{
    color:white;
}
.okr_set{
    margin: 36px auto;
    width: 200px;
    text-align: center;
}
.section_wrap{
    display:flex;
    margin:40px;
}
.title{
    color:black;
    font-size:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px;
}
.content{
    padding:8px;
    background-color: red;
    margin:12px 0;
}
.other_than_border_right{
    height:150px;
    width:150px;
    border:solid silver;
    border-width:3px 0 3px 3px;
    margin:40px;
}
.top_objective{
    width:100%;
}
.flex{
    width:100%;
    display: flex;
    justify-content: space-between;
}

/* header.blade.php */
header{
    background-color: #eee;
    height:60px;
    display:block;
    border-bottom:solid 5px orange !important;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.h-index{
    float:left;
}
.menu{
    font-size:20px;
    line-height:60px;
}
.menu a{
    margin:0 16px;
}
.dropdown-menu-right{
    float:right;
}

/* 追加画面--add.blade.php--add_child.blade.php */
.add_wrap{
    display: flex;
    margin:80px;
}
.add_wrap input[type="text"]{
    border:solid 0px;
    border-bottom:solid 1px;
}
.add_wrap input:focus{
    outline:0;
}
.add_example{
    margin:40px 0 0 0;
}
.add_example h1{
    font-weight: bold;
    margin:28px 0 0 0;
}
article.add_example p{
    margin:0;
}
.add_infomation p{
    margin:60px 0 0 0;
    font-weight: bold;
    font-size: 20px;
}
.okr_document{
    margin :0 0 0 60px;
}
.okr_document p{
    margin:12px;
}
.okr_document span{
    font-weight: bold;
}

/* index.blade.php */
.index_okr{
    margin:20px;
}
.index_okr h2{
    margin:20px 0 40px 0;
    font-weight:bold;
    font-size:32px;
}
.index_okr p{
    font-size:20px;
    margin-bottom:20px;
}
.index_list{
    margin-bottom:60px;
}
.button{
    padding: 8px 12px;
    color: #FFF;
    background: #668ad8;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    line-height: 20px;
}
.add_okr_btn{
    margin :60px 0 0 0;
    font-size: 20px;
}
.add_okr_son{
    font-size:18px;
}
.delete{
    font-size:18px;
    background: #43557c;
    border-bottom: solid 4px #627295;
}
